.change-password-popup {
    position: absolute;
    background-color: white;
    padding: 20px; /* Increased padding for more space inside */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25); /* Softer shadow for a more modern look */
    z-index: 101;
    border-radius: 10px; /* Slightly larger radius for a softer look */
    width: 300px; /* Adjusted width for more internal space */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* More modern font */
    line-height: 1.5; /* Improve line spacing for text readability */
}

.change-password-popup p {
    margin-bottom: 20px; /* Increased space below paragraph */
    font-size: 1rem;
    color: #333;
}

.change-password-popup .input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Space between input field and buttons */
}

/* Adjustments for input fields to match the new styling */
.change-password-popup input {
    flex-grow: 1; /* Input takes up remaining space */
    margin-right: 10px; /* Space between input and toggle button */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.change-password-popup .toggle-visibility {
    padding: 6px 10px; /* Smaller padding */
    font-size: 0.8rem; /* Smaller text */
    line-height: 1; /* Adjust line height to align with input height */
    height: fit-content; /* Adjust height to fit content */
    white-space: nowrap; /* Prevent wrapping text */
}

/* Style for buttons in the popup */
.change-password-popup button {
    padding: 10px 15px; /* More padding for a larger click area */
    margin-right: 10px; /* Consistent with previous */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s; /* Added transform to transition for feedback */
    font-size: 0.9rem;
    outline: none; /* Remove outline to clean up focus state, consider replacing with a more accessible alternative */
}

/* Hover effect for all buttons */
.change-password-popup button:hover {
    transform: scale(1.05); /* Slight increase in size on hover for tactile feedback */
}

/* Cancel button */
.change-password-popup button.cancel {
    background-color: #f0f0f0;
    color: #333;
}

.change-password-popup button.cancel:hover {
    background-color: #dcdcdc; /* Lighter hover effect */
}

/* OK/Delete button */
.change-password-popup button.delete {
    background-color: #ff4d4d; /* Red */
    color: white;
}

.change-password-popup button.delete:hover {
    background-color: #e60000; /* Slightly darker red on hover */
}
